@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

#root {
  width: 100%;
}

:root {
  font-size: 14px;
}

@media (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100vw;
  background-color: #2A2D33;
  overflow-x: hidden;
}